* {
font-family: sans-serif;
font-weight: 300;
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: #403f3e;
    color: #d6d1c9;
    font-size: 22px;
    border-bottom: 1px solid darkgrey;
}

ul li {
    padding: 12px;
}

li:nth-child(2) {
    background-color: #e3e0dc;
    color: grey;
}

.carousel {
   height: 200px;
   background-color: #e3e0dc;
   margin-top: -22px;
}

section h2 {
    margin: 35px;
    text-align: center;
}

#container {
    display: flex;
    height: 580px;
    border-bottom: 2px solid black
}

article {
    background-color: #e3e0dc;
    height: 450px;
    width: 350px;
    margin: 8px;
    flex: 1;
}

#formul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1.5px solid black;
}

#seen {
    border: 1px solid lightgray;
    font-weight: normal;
}

textarea {
  height: 150px;
}